.parent {
    height: 100%;
    background-color: #eeeeee;
}

.tintedBackground {
    position: relative;
    height: 95%;
    background:
    /* top, transparent red, faked with gradient */ linear-gradient(
            rgba(70, 70, 70, 0.75),
            rgba(70, 70, 70, 0.75)
        ),
        url(./laptopBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.paperContainer {
    display: flex;
    justify-content: space-around;
}

.paper {
    padding: 15px;
    display: inline;
}

.angle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.header {
    flex: 0 1 auto;
    /* z-index: 9999; */
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .row.content {
    flex: 1 1 auto;
}
